<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Event Details | Vietnamese Culinary Event</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <link rel="stylesheet" href="./statics/style/style.css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
   </head>
   <body>
      <!-- Navigation Bar Section -->
      <nav id="navBar_O" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
         <a class="navbar-brand" href="./index_home.html">Vietnamese Event</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="d-flex justify-content-center align-items-center">
            <form class="form-inline flex-nowrap bg-dark mx-0 mx-lg-auto rounded p-1">
               <div class="input-group">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" list="datalistOptions">
                  <datalist id="datalistOptions">
                     <option value="Pho Festival"></option>
                     <option value="Banh Mi Festival"></option>
                     <option value="Bun Bo Hue Festival"></option>
                     <option value="Banh Xeo Festival"></option>
                     <option value="Banh Cuon Festival"></option>
                     <option value="Brisbane Festival"></option>
                  </datalist>
                  <button class="btn btn-outline-success" type="submit">Search</button>
               </div>
            </form>
         </div>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./index_home.html"><b>Home Page</b></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./event_details.html"><b>Events</b></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./create_event.html"><b>Create Event</b></a>
               </li>
               <li class="dropdown-center">
                  <a class="btn btn-outline-success dropdown-toggle" href="#" id="navbarDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <b>Categories</b>
                  </a>
                  <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                     <li><a class="dropdown-item" href="./event_details.html">Vietnamese Traditional Cuisine</a></li>
                     <li><a class="dropdown-item" href="./event_details.html">Vietnamese's Beverage</a></li>
                     <li><a class="dropdown-item" href="./event_details.html">Traditional Workshop</a></li>
                     <li><a class="dropdown-item" href="./event_details.html">Souvenirs Shopping</a></li>
                  </ul>
               </li>
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./booking_history.html"><b>Booking History</b></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./event_details.html"><b>Souvenirs</b></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./event_details.html"><b>About us</b></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./event_details.html"><b>Help Center</b></a>
               </li>
            </ul>
         </div>
      </nav>
      <!-- End of Navigation Bar Section -->
      <!-- Event Details Section -->
      <div class="container mt-5">
         <div class="row">
            <div class="container-fluid p-5 bg-image text-white text-center" style="background-image: url('./statics/img/banhmi.jpg'); height: 50vh; background-size: cover; background-position: center;">
               <div class="d-flex h-100 align-items-center justify-content-center">
                  <div>
                     <h1 class="display-4 fw-bold">Banh Mi Festival</h1>
                     <p class="lead">Experience the best of Vietnamese cuisine</p>
                  </div>
               </div>
            </div>
         </div>
         <!-- Updated Event Details Section -->
         <div class="container mt-5">
            <h2 id="eventHeading">Event Details</h2>
            <dl class="row event-details">
               <dt class="col-sm-3" id="dt_eventDetails">Date:</dt>
               <dd class="col-sm-9">15th Dec, 2024</dd>
               <dt class="col-sm-3" id="dt_eventDetails">Start Time:</dt>
               <dd class="col-sm-9">10:00 AM</dd>
               <dt class="col-sm-3" id="dt_eventDetails">End Time:</dt>
               <dd class="col-sm-9">5:00 PM</dd>
               <dt class="col-sm-3" id="dt_eventDetails">Location:</dt>
               <dd class="col-sm-9">Vietnamese Cultural Center, Brisbane</dd>
               <dt class="col-sm-3" id="dt_eventDetails">Status:</dt>
               <dd class="col-sm-9"><span class="badge rounded-pill bg-success" id="eStatus_eventPage">Open</span></dd>
               <dt class="col-sm-3" id="dt_eventDetails">Event Category:</dt>
               <dd class="col-sm-9">Vietnamese Traditional Cuisine Festival</dd>
               <dt class="col-sm-3" id="dt_eventDetails">Event Description:</dt>
               <dd class="col-sm-9">Discover the best of Vietnamese Banh Mi culture at our upcoming event! Join us for a day of excellent cuisine, fascinating activities, and lively cultural performances. 
                  Enjoy a wide range of banh mi delicacies, from traditional pork and pâté to creative vegetarian options, all made by local vendors and renowned chefs. 
                  View live demonstrations of banh mi preparation and learn the art of balancing flavors and textures that make this iconic sandwich so popular. 
                  Beyond banh mi, try additional Vietnamese street food favorites and drink aromatic Vietnamese coffee and tea. 
                  Immerse yourself in Vietnamese culture with traditional music and dance performances, and informative exhibits that highlight the country's rich past.
                  Bring the whole family for fun activities like easy cookery workshops and Vietnamese-inspired face painting. 
                  Whether you're a foodie, a culture buff, or simply seeking for a one-of-a-kind day out, our Banh Mi Festival guarantees a memorable experience that will transfer your senses directly to the streets of Vietnam. 
                  Don't pass up this opportunity to appreciate the bright tastes and friendly hospitality of Vietnamese cuisine!
               </dd>
            </dl>
            <dt class="col-sm-3" id="dt_eventDetails">Event Highlights:</dt>
            <dd class="col-sm-9">
               <ul class="list-group">
                  <li class="list-group-item"><i class="fas fa-utensils"></i> Live Banh Mi Making Process Demonstrations</li>
                  <li class="list-group-item"><i class="fas fa-music"></i> Traditional Vietnamese Music Performances</li>
                  <li class="list-group-item"><i class="fas fa-star"></i> Varieties Banh Mi Tasting Events</li>
                  <li class="list-group-item"><i class="fas fa-users"></i> Meet and Greet with Top Vietnamese Chefs</li>
               </ul>
            </dd>
         </div>
      </div>
      </div>
      <!-- End of Event Details Section -->
      <!-- Ticket Booking Section -->
      <div class="container mt-5">
         <h5 id="headingTicket" >Ticket Types</h5>
         <ul>
            <li>General Admission (Regular Ticket) - $30</li>
            <li>VIP Access - $70 (includes access to VIP lounge and a free souvenir)</li>
         </ul>
         <div class="col-md-6 mt-5">
            <h3 class="text-left">Book Your Tickets</h3>
            <form class="p-3 rounded" style="background-color: #f9f9f9; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
               <div class="mb-3">
                  <label for="ticketType" class="form-label">Ticket Type</label>
                  <select class="form-select" id="ticketType">
                     <option value="regular">General Admission</option>
                     <option value="vip">VIP Ticket</option>
                  </select>
               </div>
               <div class="mb-3">
                  <label for="ticketQuantity" class="form-label">Quantity</label>
                  <input type="number" class="form-control" id="ticketQuantity" min="1" max="20">
               </div>
               <button type="submit" class="btn btn-primary btn-lg w-100" id="bookNowBtn">Book Now</button>
            </form>
         </div>
      </div>
      <!-- End of Ticket Booking Section -->
      <!-- Comments Section -->
      <div class="container mt-5">
         <h3>Comments and Feedback</h3>
         <div class="row">
            <div class="col-md-12">
               <div id="commentsList">
                  <div class="comment">
                     <strong>John Doe</strong>
                     <p>Amazing event! Loved the Banh Mi and the performances.</p>
                  </div>
                  <div class="comment">
                     <strong>Jane Smith</strong>
                     <p>Can’t wait for next year. The workshops were great!</p>
                  </div>
                  <div class="comment">
                     <strong>Michael Johnson</strong>
                     <p>Had a great time with my family. The kids loved the food!</p>
                  </div>
                  <div class="comment">
                     <strong>Emily Brown</strong>
                     <p>Great event! Loved the cultural performances.</p>
                  </div>
               </div>
               <div class="container mt-5">
                  <h3 class="text-left">Leave Your Comments</h3>
                  <form id="commentForm" class="p-3 rounded" style="background-color: #f9f9f9; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                     <div class="mb-3">
                        <label for="commentInput" class="form-label">Your Comment</label>
                        <textarea class="form-control" id="commentInput" rows="3" placeholder="Write your comment here..."></textarea>
                     </div>
                     <button type="submit" class="btn btn-secondary w-100">Post Comment</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- End of Comments Section -->
      <!-- Relevant Event Section -->
      <div class="container mt-5">
         <h3>Other Events You May Be Interested In</h3>
         <div class="row">
            <div class="col-md-4">
               <div class="card">
                  <img src="./statics/img/pho.jpg" class="card-img-top" alt="Event Image">
                  <div class="card-body">
                     <h5 class="card-title">Pho Festival</h5>
                     <p>Join us for a day of delicious Pho and Cultural performances</p>
                     <a href="./event_details.html" class="btn btn-primary">View Details</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card">
                  <img src="./statics/img/bunbohue.jpg" class="card-img-top" alt="Event Image">
                  <div class="card-body">
                     <h5 class="card-title">Bun Bo Hue Festival</h5>
                     <p>Experience the best of Bun Cha and Vietnamese culture</p>
                     <a href="./event_details.html" class="btn btn-primary">View Details</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="card">
                  <img src="./statics/img/icecoffee.jpg" class="card-img-top" alt="Event Image">
                  <div class="card-body">
                     <h5 class="card-title">Vietnamese Coffee and Ice Tea (Tra Da Via He)</h5>
                     <p>Learn the art of making Vietnamese coffee and ice tea</p>
                     <a href="./event_details.html" class="btn btn-primary">View Details</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- End of Relevant Event Section -->
      <!-- Footer Section -->
      <footer class="bg-dark text-center text-lg-start text-light" id="footer">
         <div class="container p-4">
            <div class="row">
               <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase fs-3 text fw-semibold">Contact Us</h5>
                  <p class="text fs-5 text">
                     Follow us on social media for the latest updates and events.
                  </p>
               </div>
               <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase fs-3 text fw-semibold">Follow Us</h5>
                  <a id="facebookFooter" href="https://www.facebook.com" class="btn btn btn-lg btn-floating m-1" role="button"><i class="fab fa-facebook-f"></i></a>
                  <a id="instagramFooter" href="https://www.instagram.com" class="btn btn btn-lg btn-floating m-1" role="button"><i class="fab fa-instagram"></i></a>
                  <a id="twitterFooter" href="https://www.twitter.com" class="btn btn btn-lg btn-floating m-1" role="button"><i class="fab fa-twitter"></i></a>
                  <a id ="youtubeFooter" href="https://www.youtube.com" class="btn btn btn-lg btn-floating m-1" role="button"><i class="fab fa-youtube"></i></a>
                  <a id="phoneCall" href="tel:+61XXXXXXXXX" class="btn btn-success btn-lg btn-floating m-1" role="button"><i class="fas fa-phone"></i></a>
               </div>
            </div>
            <div id="CopyRight" class="text-center fs-5 text ">
               © 2024 Vietnamese Traditional Food and Drink Events. All rights reserved.
            </div>
         </div>
      </footer>
      <!-- End of Footer Section -->
   </body>
</html>