{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="container mt-5">
  <div class="row">
        <div class="col-md-4">
            <a href="#"><img src="{{ event.image }}" class="card-img-top img-fluid" alt="Event Image"></a>
        </div>
        <div class="col-md-8">
                <h1 class="mt-5" id="eventHeading"">{{event.name}}</h1>
                <p>Created by: <strong>{{ event.creator.name }}</strong></p>
        </div>
  </div>
  <!-- Updated Event Details Section -->
  <div class="container mt-5">
     <h2 id="eventHeading">Event Details</h2>
     <dl class="row event-details">
        <dt class="col-sm-3" id="dt_eventDetails">Quantity:</dt>
        <dd class="col-sm-9">{{event.quantity}}</dd>
        <dt class="col-sm-3" id="dt_eventDetails">Category:</dt>
        <dd class="col-sm-9">{{event.category}}</dd>
        <dt class="col-sm-3" id="dt_eventDetails">Date:</dt>
        <dd class="col-sm-9">{{event.date.strftime('%d/%m/%Y')}}</dd>
        <dt class="col-sm-3" id="dt_eventDetails">Start/End Time:</dt>
        <dd class="col-sm-9">{{event.time}} - {{event.etime}}</dd>
        <dt class="col-sm-3" id="dt_eventDetails">Location:</dt>
        <dd class="col-sm-9">{{event.location}}</dd>
        <dt class="col-sm-3" id="dt_eventDetails">Status:</dt>
        <dd class="col-sm-9"><span class="badge rounded-pill bg-success" id="eStatus_eventPage">{{event.status}}</span></dd>
        <dt class="col-sm-3" id="dt_eventDetails">Event Description:</dt>
        <dd class="col-sm-9">{{event.description}}</dd>
     </dl>
     <a href=""><button type="submit" class="flex-shrink-1 btn btn-primary my-1">Book This Event</button></a>
  </div>
  <div class="row border-bottom">  
    {{render_form(form,"/events/{0}/comment".format(event.id))}}
    {% for comment in event.comments %}
    <div class="col-md-12">  
      <b>{{comment.user.name}} <span class="ml-2 text-muted">{{comment.created_at.strftime('%d-%m-%Y %H:%M')}}</span></b>
      <p>{{comment.text}}</p>  
    </div> 
    {% endfor %} 
  </div>  
</div>

{% endblock %}