{% extends 'base.html' %}

{% block header %}
      <!--Jumbotron-->
      <div class="container" style="background-image: url('./static/image/whiteTheme.jpg')">
         <div class="row justify-content-center mt-5 pb-4">
            <div class="col-md-8">
               <div class="card shadow p-5 mb-5 bg-light">
                  <h1 class="text-center display-4 mb-3">Welcome to Vietnamese Culinary Events!</h1>
                  <p class="text-center lead">Discover, and enjoy the best of Vietnamese food, culture, and festivals.</p>
                  
                  <form class="form-inline d-flex flex-nowrap" action="{{ url_for('main.search') }}" >
                     <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" id="SearchForm">
                     <button type="submit" class="flex-shrink-1 btn btn-primary my-1">Submit</button>
                   </form>
                </div>

               </div>
            </div>
         </div>
      </div>
{% endblock %}

{% block content %}   
<!-- About Section (It's hidden when search function working) -->
      <div class="container">
        {% if not hide_about %}
        <div class="container my-5">
            <h2 id="h2_HomePage">About Us</h2>
            <p>
                Welcome to our Vietnamese Event Booking website, your one-stop platform for discovering and booking the best Vietnamese cultural experiences! Our mission is to connect people with the vibrant world of Vietnamese traditions, festivals, 
                and activities through an easy-to-use, streamlined platform. 
                Whether you're interested in attending food festivals, cultural workshops, live performances, or community gatherings, we’ve got something for everyone.
            </p>
            <p>
                Our website is designed to showcase a wide range of events celebrating the richness of Vietnamese culture, both locally and internationally. 
                From traditional craft workshops to modern music festivals, we aim to make it simple for users to find and book exciting events that immerse them in the beauty and diversity of Vietnam.
            </p>
        </div>
        {% endif %}

<!-- Event List Section -->
         <h2 id="h2_HomePage">Upcoming Event List</h2>

         <!-- Loop Event -->
         <div class="card-group">
            {% for event in events %}
                <div class="col-md-3 card mx-3 mb-4">
                    <img class="card-img-top"
                       src="{{event.image}}" alt="event image">
                    <div class="card-body">
                       <h5 class="card-title">{{event.name}}</h5>
                       <p class="card-text">{{event.location}}</p>
                       <p class="card-text">{{event.date.strftime('%d/%m/%Y')}}</p>
                       <p class="card-text">{{event.time}} - {{event.etime}}</p>
                       <span class="badge rounded-pill bg-success">{{event.status}}</span>
                    </div>
                    <div class="card-footer"><a href="{{ url_for('event.show', id=event.id) }}"><button type="submit" class="flex-shrink-1 btn btn-primary my-1">View Details</button></a></div>
                 </div>
            {% if loop.index % 4 == 0 %}
                <!-- Add a new row after every 4 events -->
                </div><div class="row">
            {% endif %}
            {% endfor %}
         </div>

      </div>
{% endblock %}