<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Vietnamese Events</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="./statics/style/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
   </head>
   <body>
      <!-- Navigation Bar Section -->
      <nav id="navBar_O" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
         <a class="navbar-brand" href="./index_home.html">Vietnamese Event</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="d-flex justify-content-center align-items-center">
            <form class="form-inline flex-nowrap bg-dark mx-0 mx-lg-auto rounded p-1">
               <div class="input-group">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" list="datalistOptions">
                  <datalist id="datalistOptions">
                     <option value="Pho Festival"></option>
                     <option value="Banh Mi Festival"></option>
                     <option value="Bun Bo Hue Festival"></option>
                     <option value="Banh Xeo Festival"></option>
                     <option value="Banh Cuon Festival"></option>
                     <option value="Brisbane Festival"></option>
                  </datalist>
                  <button class="btn btn-outline-success" type="submit">Search</button>
               </div>
            </form>
         </div>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./index_home.html"><b>Home Page</b></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./event_details.html"><b>Events</b></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./create_event.html"><b>Create Event</b></a>
               </li>
               <li class="dropdown-center">
                  <a class="btn btn-outline-success dropdown-toggle" href="#" id="navbarDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <b>Categories</b>
                  </a>
                  <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                     <li><a class="dropdown-item" href="./event_details.html">Vietnamese Traditional Cuisine</a></li>
                     <li><a class="dropdown-item" href="./event_details.html">Vietnamese's Beverage</a></li>
                     <li><a class="dropdown-item" href="./event_details.html">Traditional Workshop</a></li>
                     <li><a class="dropdown-item" href="./event_details.html">Souvenirs Shopping</a></li>
                  </ul>
               </li>
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./booking_history.html"><b>Booking History</b></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./event_details.html"><b>Souvenirs</b></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./event_details.html"><b>About us</b></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link btn btn-outline-success" id="navLink" href="./event_details.html"><b>Help Center</b></a>
               </li>
            </ul>
         </div>
      </nav>
      <!-- End of Navigation Bar Section -->
      <!-- Hero Section -->
      <div class="container-fluid p-5 bg-image text-white text-center" style="background-image: url('./statics/img/blackBack.jpeg'); height: 30vh; background-size: cover; background-position: center;">
         <div class="d-flex h-100 align-items-center justify-content-center">
            <div>
               <h1 class="display-4 fw-bold">Create Your Event</h1>
               <p class="lead">Plan and publish your event effortlessly</p>
            </div>
         </div>
      </div>
      <!-- End of Hero Section -->
      <!-- Event Creation Section -->
      <div class="container mt-5 rounded shadow-lg mb-3" id="formEvent">
         <h2 id="heading_CreateEvent" class="text-center mb-10">Create a New Event Form</h2>
         <form class="p-3">
            <div class="mb-3">
               <label for="eventName" class="form-label" id="col">Event Name</label>
               <input type="text" class="form-control" id="eventName" placeholder="Enter the event name" required>
            </div>
            <div class="mb-3">
               <label for="eventDescription" class="form-label" id="col">Event Description</label>
               <textarea class="form-control" id="eventDescription" rows="5" placeholder="Enter a detailed description of the event" required></textarea>
            </div>
            <div class="mb-3">
               <label for="eventCategories" class="form-label" id="col">Event Category</label>
               <select class="form-select" id="eventCategories" required>
                  <option>Vietnamese Traditional Cuisine</option>
                  <option>Vietnamese's Beverage</option>
                  <option>Traditional Workshop</option>
                  <option>Souvenirs Shopping</option>
               </select>
            </div>
            <div class="mb-3">
               <label for="eventImage" class="form-label" id="col">Event Image</label>
               <input type="file" class="form-control" id="eventImage" accept="image/*" required>
            </div>
            <div class="row">
               <div class="col-md-6 mb-3">
                  <label for="eventDate" class="form-label" id="col">Event Date</label>
                  <input type="date" class="form-control" id="eventDate" required>
               </div>
               <div class="col-md-3 mb-3">
                  <label for="startTime" class="form-label" id="col">Start Time</label>
                  <input type="time" class="form-control" id="startTime" required>
               </div>
               <div class="col-md-3 mb-3">
                  <label for="endTime" class="form-label" id="col">End Time</label>
                  <input type="time" class="form-control" id="endTime" required>
               </div>
            </div>
            <div class="mb-3">
               <label for="eventLocation" class="form-label" id="col">Location</label>
               <input type="text" class="form-control" id="eventLocation" placeholder="Enter the location" required>
            </div>
            <div class="mb-3">
               <label for="eventStatus" class="form-label" id="col">Event Status</label>
               <select class="form-select" id="eventStatus" required>
                  <option value="open">Open</option>
                  <option value="closed">Inactive</option>
                  <option value="cancelled">Cancelled</option>
                  <option value="sold out">Sold Out</option>
               </select>
            </div>
            <h5 class="mt-4" id="col">Ticket Types</h5>
            <div class="mb-3">
               <label for="regularTicketPrice" class="form-label" id="col_mini">Regular Ticket Price ($)</label>
               <input type="number" class="form-control" id="regularTicketPrice" placeholder="Enter price for regular ticket" min="0" required>
            </div>
            <div class="mb-3">
               <label for="vipTicketPrice" class="form-label" id="col_mini">VIP Ticket Price ($)</label>
               <input type="number" class="form-control" id="vipTicketPrice" placeholder="Enter price for VIP ticket" min="0" required>
            </div>
            <h6 class="mt-4" id="col">Ticket Quantity</h6>
            <div class="mb-3">
               <label for="regularTicketPrice" class="form-label" id="col_mini">Regular Ticket Quantity (n)</label>
               <input type="number" class="form-control" id="regularTicketPrice" placeholder="Enter quantity for regular ticket" min="0" required>
            </div>
            <div class="mb-3">
               <label for="vipTicketPrice" class="form-label" id="col_mini">VIP Ticket Quantity (n)</label>
               <input type="number" class="form-control" id="vipTicketPrice" placeholder="Enter quantity for VIP ticket" min="0" required>
            </div>
            <button id="submitEvent" type="submit" class="btn btn-primary btn-lg mx-2" role="button">Create Event</button>
         </form>
      </div>
      <!-- End of Event Creation Section -->
      <!-- Footer Section -->
      <footer class="bg-dark text-center text-lg-start text-light" id="footer">
         <div class="container p-4">
            <div class="row">
               <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase fs-3 text fw-semibold">Contact Us</h5>
                  <p class="text fs-5 text">
                     Follow us on social media for the latest updates and events.
                  </p>
               </div>
               <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase fs-3 text fw-semibold">Follow Us</h5>
                  <a id="facebookFooter" href="https://www.facebook.com" class="btn btn btn-lg btn-floating m-1" role="button"><i class="fab fa-facebook-f"></i></a>
                  <a id="instagramFooter" href="https://www.instagram.com" class="btn btn btn-lg btn-floating m-1" role="button"><i class="fab fa-instagram"></i></a>
                  <a id="twitterFooter" href="https://www.twitter.com" class="btn btn btn-lg btn-floating m-1" role="button"><i class="fab fa-twitter"></i></a>
                  <a id ="youtubeFooter" href="https://www.youtube.com" class="btn btn btn-lg btn-floating m-1" role="button"><i class="fab fa-youtube"></i></a>
                  <a id="phoneCall" href="tel:+61XXXXXXXXX" class="btn btn-success btn-lg btn-floating m-1" role="button"><i class="fas fa-phone"></i></a>
               </div>
            </div>
            <div id="CopyRight" class="text-center fs-5 text ">
               © 2024 Vietnamese Traditional Food and Drink Events. All rights reserved.
            </div>
         </div>
      </footer>
      <!-- End of Footer Section -->
   </body>
</html>